:root {
    --font-wendy-one: 'Wendy One', sans-serif;
    --font-zen-maru: 'Zen Maru Gothic', sans-serif;
}

body {
    font-family: var(--font-zen-maru);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-wendy-one);
}

p,
span,
a,
li {
    font-family: var(--font-zen-maru);
}

.nav-menu__item {
    padding-left: 15px;
    padding-right: 15px;
}

.h5-c {
    color: #FFF !important;
}

.tw-h-10 {
    height: 3.0rem;
    min-width: 270px !important;
}

.ptext {
    font-size: 13px;
}